@import "tailwindcss";

:root {
  --color-primary: #fed32c;
  --color-white: #f1f1f1;
  --color-dark: #20242a;
  --color-dark1: #2b3038;
  --color-dark2: #4e4e4e;
  --color-dark3: #a4a5a8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Consolas,
    "Liberation Mono", Menlo, monospace;
}

@theme {
  --animate-scale-pulse: scale-pulse 100ms ease-out 1;
  @keyframes scale-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
